.chatbox {
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  font-size: 18px;
}

.chat-body {
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #fff;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #f8f9fa;
}

.chat-input input {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat-input button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.message {
  margin: 10px 0;
  text-align: left;
}

.message strong {
  color: #007bff;
}

  
/* ATLAS AZUL */

.fondo-azul {
    margin-top: 5%;
    background-color: blue;
    color: white;
    height: 30vh;
    border-top-left-radius: 100% 20vh; 
    border-top-right-radius: 100% 20vh;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}

.contenido-fondo-azul {
    margin-bottom: 5%; 
}

#fondo-azul {
    height: 100%;
}

#fondo-azul {
    margin-top: 5%;
    background-color: blue;
    color: white;
    height: 30vh;
    border-top-left-radius: 100% 20vh; 
    border-top-right-radius: 100% 20vh;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}

#contenido-fondo-azul {
    margin-bottom: 5%; 
}

footer {
    background-color: #f8f9fa;
}
