body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: Arial, sans-serif;
}

.screen {
    padding: 20px;
}

.btn-custom {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
    background-color: #4c52f8;
    color: white;
    transform: scale(1.05);
}


.footer {
    background-color: #4c52f8;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer img {
    width: 20px;
    height: 20px;
}

/* Fondo Azul (ATLAS Azul) */
.fondo-azul {
    margin-top: 5%;
    background-color: blue;
    color: white;
    height: 30vh;
    border-top-left-radius: 100% 20vh; 
    border-top-right-radius: 100% 20vh;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-fondo-azul {
    margin-bottom: 5%;
    text-align: center;
}

#fondo-azul {
    height: 30vh;
}

#contenido-fondo-azul {
    margin-bottom: 5%;
}


@media (max-width: 768px) {
    .btn-custom {
        font-size: 1rem;
        padding: 12px;
    }

    .fondo-azul {
        height: 25vh;
        border-top-left-radius: 100% 15vh;
        border-top-right-radius: 100% 15vh;
    }

    .footer {
        font-size: 0.85rem;
    }
}

@media (min-width: 1200px) {
    .btn-custom {
        font-size: 1.5rem;
        padding: 18px;
    }

    .fondo-azul {
        height: 35vh;
    }
}
