html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Pantallas */
.screen {
    display: none;
    padding: 20px;
}

.visible {
    display: block;
}

/* CONTENEDOR DEL LOGIN */
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.log-card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #ccc;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.text {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.input-group { margin-top: 10px; }

.input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    background: #2879f3;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #0653c7;
}

/* FONDO AZUL SUPERIOR */
.fondo-azul {
    margin-top: 40px;
    background-color: blue;
    color: white;
    height: 200px;
    border-top-left-radius: 100% 80px; 
    border-top-right-radius: 100% 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* FOOTER */
.footer {
    background-color: #4c52f8;
    color: white;
    text-align: center;
    padding: 10px 0;
}
