
.fondo-azul {
    margin-top: 5%;
    background-color: blue;
    color: white;
    height: 30vh;
    border-top-left-radius: 100% 20vh; 
    border-top-right-radius: 100% 20vh;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}

.contenido-fondo-azul {
    margin-bottom: 5%; 
}

#fondo-azul {
    height: 100%;
}

#fondo-azul {
    margin-top: 5%;
    background-color: blue;
    color: white;
    height: 30vh;
    border-top-left-radius: 100% 20vh; 
    border-top-right-radius: 100% 20vh;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}

#contenido-fondo-azul {
    margin-bottom: 5%; 
}

footer {
    background-color: #f8f9fa;
}


.btn {
    display: inline-block;
    background-color: #2879f3;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.numero {
    font-size: 24px;
    font-weight: bold;
    color: #2879f3;
    margin: 20px 0;
}
